* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #fff;
    color: #0c2a52;
    display: flex;
    flex-direction: column;
}

.topbar {
    background: #006478;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo-header img {
    height: 40px;
    border-radius: 30px;
}


.sidebar {
    background: #004d5d;
    padding: 20px;
    width: 200px;
    min-height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar a:hover,
.sidebar a.ativo {
    background: #006478;
}

.conteudo {
    margin-left: 240px;
    padding: 100px 40px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 220px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 24px;
}

.dados h3 {
    color: #005b6e;
    margin-bottom: 10px;
}

.dados p a {
    color: #007b8a;
    text-decoration: none;
}

.dados p a:hover {
    text-decoration: underline;
}
