body,
table,
th,
td,
h3 {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #006478;
}

table th {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background: #006478;
    color: white;
}

table tr {
    border: 1px solid #ccc;
}

table td {
    font-size: 12px;
    padding: 8px 10px;
    color: #333;
}

h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: #333;
}

.container-admin-banner h1 {
    margin-top: 40px;
    font-size: 30px;
}

.pdf-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    font-size: 12px;
    color: #555;
    border-top: 1px solid #ccc;
    padding-top: 6px;
}

body {
    margin-bottom: 50px;
    margin-top: 0;
}

.pdf-img {
    width: 100px;
    display: block;
    margin: 15px auto 20px auto;
}
