
main {
    margin-top: 20px;
}


.header-container {
    background-color: #006478;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
}

.header-container h1 {
    color: white;
}


.btn-voltar {
    padding: 10px 20px;
    margin-left: 40px;
    background-color: white;
    color: #006478;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-voltar:hover {
    background-color: #0056b3;
    color: white;
}


.titulo-principal {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin: 0;
}


.espacador {
    width: 150px;
}


.sem-dados {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}
