<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/SistemaShopping_web1/img/logoShopping.png">
    <link rel="stylesheet" href="/SistemaShopping_web1/css/index.css">
</head>
<body>
<footer>
    <div>
        <img src="/SistemaShopping_web1/img/logoShopping.png" alt="Logo Shopping" class="logo-footer">
        <p>Apenas funcionarios</p>
    </div>
    <a href="/SistemaShopping_web1/src/view/sessoes/login.php" class="btn-admin">Área Administrativa 🔒</a>
</footer>
</body>
</html>
