<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SistemaShopping_web1/css/index.css">
</head>
<body>
<header class="header">
    <img src="/SistemaShopping_web1/img/logoShopping.png" alt="Logo Shopping" class="logo">
    <nav>
        <ul class="menu">
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Cinema</a></li>
            <li><a href="#">Lojas</a></li>
            <li><a href="#">Gastronomia</a></li>
            <li><a href="#">Mapa</a></li>
            <li><a href="#">Fale Conosco</a></li>
        </ul>
    </nav>
</header>
</body>
</html>