<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SistemaShopping_web1/css/index.css">
</head>
<body>
<header class="header">
    <a href="/SistemaShopping_web1/index.php"><img src="/SistemaShopping_web1/img/logoShopping.png" alt="Logo Shopping" class="logo"></a>
    <nav>
        <ul class="menu">
            <li><a href="/SistemaShopping_web1/src/view/sessoes/anuncios/novidades.php">Novidades</a></li>
            <li><a href="#">Cinema</a></li>
            <li><a href="/SistemaShopping_web1/src/view/sessoes/lojas/telaDeLoja.php">Lojas</a></li>
            <li><a href="/SistemaShopping_web1/src/view/sessoes/lojas/telaDeRestaurante.php">Gastronomia</a></li>
            <li><a href="#">Mapa</a></li>
            <li><a href="#">Fale Conosco</a></li>
        </ul>
    </nav>
</header>
</body>
</html>